<header class="navbar" role="banner">
  <div class="navbar-brand">
    <a class="navbar-item brand-link" href="{{site.url}}">
      <img
        class="brand-logo"
        src="{{uiRootPath}}/img/ililogo.png"
        alt="INTERLIS Logo"
      >
      <span class="site-title">INTERLIS // Dokumentation</span>
    </a>
  </div>
</header>
