<header class="navbar" role="banner">
  <div class="navbar-brand">
    <a class="navbar-item brand-link" href="{{site.url}}">
      <img class="brand-logo" src="{{uiRootPath}}/img/ililogo.png" alt="INTERLIS Logo">
      <span class="site-title">INTERLIS // Dokumentation</span>
    </a>
  </div>

  {{#if env.SITE_SEARCH_PROVIDER}}
  <div class="navbar-item navbar-search">
    <input
      id="search-input"
      class="search-input"
      type="search"
      placeholder="Suche…"
      aria-label="Suche in der Dokumentation"
      autocomplete="off"
    >
  </div>
  {{/if}}
</header>
